<object
  name="hand_drill1">
  <link
    name="hand_drill1">
    <inertial>
      <origin
        xyz=".108 .183 .02"
        rpy="0 0 0" />
      <mass
        value="2" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="objects/hand_drill_bare.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="objects/hand_drill_bare.dae" />
      </geometry>
    </collision>
  </link>
</object>
